/* Iframe pages */
.iframe-body {
    background: linear-gradient(135deg, #000000, #1b1b1b);
    color: white;
    padding: 20px;
    
}

/* Subject card */
.subject-card {
    padding: 20px;
    width: 100%;
    height: 100%;
}

.subject-card h3 {
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

/* Subject list */
.subject-list {
    list-style: none;
}

.subject-list li {
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.08);
    transition: 0.3s;
}

.subject-list li:hover {
    background: rgba(255, 255, 255, 0.18);
    transform: translateX(5px);
}
